@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.drop_area {
    @apply shadow-sm w-[380px] h-28 border rounded-md p-3 my-3 opacity-100 transition-all;
}

.hide_drop{
    @apply opacity-0;
}

body{
    font-family: "Montserrat", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}